In [ ]:
#13,125
a = bin(13)
'''0,125 * 2 = 0,25 0
0,25 * 2 = 0,5 0
0,5 * 2 = 1 1'''
print(a,'001')

0b1101 001

In [ ]:
23,25
a = bin(23)
'''0,25 * 2 = 0,5 0
0,5 * 2 = 1 1'''
print(a,'01')

0b10111 01

In [ ]:
37,375
a = bin(37)
'''0,375 * 2 = 0,75 0
0,75 * 2 = 1,5 1
1,5 * 2 = 1'''
print(a, '011')

0b100101 011

In [ ]:
48,625
a = bin(48)
'''0,625 * 2 = 1,25 1
1,25 * 2 = 0,5 0
0,5 * 2 = 1 1'''
print(a, '101')

0b110000 101

In [ ]:
78,875
a = bin(78)
#0,875 * 2 = 1,75 * 2 = 1,5 * 2 = 1
print(a,'111')

0b1001110 111

In [ ]:
11,8
a = bin(11)
#0,8 * 2 = 1,6 * 2 = 1,2 * 2 = 0,4 * 2 = 0,8
print (a, '(110)')

0b1011 (110)

In [ ]:
15,3
a = bin(15)
#0,3 * 2 = 0,6 * 2 = 1,2 * 2 = 0,2 * 2 = 0,4 * 2 = 0,8 * 2 = 1,6 * 2 = 0,6
print(a, '(1001)')

0b1111 (1001)

In [ ]:
22,7
a = bin(22)
'''0,7 * 2 = 1,4 1
0,4 * 2 = 0,8 0
0,8 * 2 = 1,6 1
0,6 * 2 = 1,2 1
0,2 * 2 = 0,4 0
0,4 * 2 = 0,8 0'''
print(a, '0110')